.hoverLink {
    position: relative;
    z-index: 1;
}

.hoverLink::after {
    display: none;
    content: "";
    position: absolute;
    bottom: 0px;
    left: -2px;
    right: -2px;
    height: 2px;
    background: transparent;
    background: #2196f3;
    z-index: -1;
}

li:hover .hoverLink::after {
    display: block;
    bottom: 0;
}