.hoverLink > div {
    position: relative;
    z-index: 1;
    display: flex;
}
.hoverLink {
    position: relative;
    z-index: 1;
}
.hoverLink::after {
    display: none;
    content: "";
    position: absolute;
    bottom: 0px;
<<<<<<< HEAD
    left: 0px;
    right: 0px;
    height: 2px;
=======
    left: -2px;
    right: -2px;
    height: 3px;
>>>>>>> a2cd28a174222d9786e7c52633d603297a7bc319
    background: #2196f3;
    z-index: -1;
}

/*li:hover .hoverLink {
    background: #ccc;
}

li.active .hoverLink{
    background:#aaa;
}*/

li:hover .hoverLink::after {
    display: inline-block;
}

li.active .hoverLink::after {
<<<<<<< HEAD
    display: inline-block;
=======
    display: block;
    background: #ccc;
>>>>>>> a2cd28a174222d9786e7c52633d603297a7bc319
}