html,
body {
    background: #222;
    font-family: 'Maven Pro', sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}

body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
}

@media only screen and (min-width: 48em) {
    body::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }
}

.hoverLink> div {
    position: relative;
    z-index: 1;
    display: flex;
}

.hoverLink {
    position: relative;
    z-index: 1;
}

.hoverLink::after {
    display: none;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: #90caf9;
    z-index: -1;
}

#bodyNav #navDiv ul li:hover i {
    color: #fff;
    opacity: 1;
}

#bodyNav #navDiv ul li.active,
#bodyNav #navDiv ul li:hover,
#bodyNav #navDiv ul li.active i {
    color: #fff;
    opacity: 1;
}

#menuToggle {
    display: none;
    position: fixed;
    top: 8px;
    right: 8px;
    width: 36px;
    height: 36px;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#menuToggle:hover span {
    background: #2196f3;
}

#menuToggle span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    /*background: #2196f3;*/
    background: #aaa;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#menuToggle span:nth-child(1) {
    top: 2px;
}

#menuToggle span:nth-child(2) {
    top: 14px;
}

#menuToggle span:nth-child(3) {
    top: 26px;
}

#menuToggle.open span {
    background: #2196f3;
}

#menuToggle.open span:nth-child(1) {
    top: 14px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#menuToggle.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#menuToggle.open span:nth-child(3) {
    top: 14px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#bodyNav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    /*min-width: 300px;
    width: 30%;
    max-width: 500px;*/
    width: 400px;
    background: #fff;
    background: #009688;
    background: #607d8b;
    /*background: #F44336;*/
    background: #3f51b5;
    z-index: 10;
    box-shadow: 0 0 10px;
}

#bodyNav #navContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#bodyNav #logoDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#bodyNav #logoDiv i {
    font-size: 124px;
    margin-top: 20px;
    color: #FFF;
}

#bodyNav #logoDiv #headerContainer {
    display: block;
}

#bodyNav #logoDiv h1,
#bodyNav #logoDiv h4 {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-weight: 900;
}

#bodyNav #logoDiv h4 {
    color: #ffeb3b;
    color: #90caf9;
    font-weight: 100;
}

#bodyNav #navDiv {
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    /*min-height: 100px;*/
}

#bodyNav #navDiv ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#bodyNav #navDiv ul li {
    height: 48px;
    line-height: 48px;
    /*padding-left: 4px;*/
    /*padding-bottom: 4px;*/
    cursor: pointer;
    /*border-bottom: 1px solid #ccc;*/
    text-align: center;
    position: relative;
    display: block;
    color: #FFF;
    opacity: 0.65;
}

#bodyNav #navDiv ul li i {
    font-size: 36px;
    vertical-align: middle;
    position: relative;
    color: #fff;
}

#bodyNav #navDiv ul li div {
    padding-left: 12px;
    /*display: inline-block;*/
}

.navBubbles {
    position: fixed;
    right: 24px;
    top: 50%;
    margin: auto 0;
}

.navBubble {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    margin-bottom: 4px;
    background: transparent;
    border: 1px solid #040404;
}

.navBubble.active {
    background: #040404;
}

#bodyNav #socialDiv {
    position: absolute;
    bottom: 0;
    padding-bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
}

#bodyNav #socialDiv .socialBubble {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 30px;
    border-radius: 50%;
    background: #dfdfdf;
    border: 2px solid #ccc;
    margin: 0 4px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    position: relative;
    -webkit-filter: url("#goo");
    filter: url("#goo");
    box-shadow: 0 0 2px;
}

#bodyNav #socialDiv .socialBubble> div {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    background: #dfdfdf;
    z-index: 1;
    top: 0;
    -webkit-transition: top 0.3s ease 0s;
    -moz-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
}

#bodyNav #socialDiv .socialBubble:hover {
    box-shadow: 0 0 4px;
}

#bodyNav #socialDiv .socialBubble:hover> div {
    line-height: 24px;
    top: -36px;
    height: 28px;
    width: 28px;
    border: 2px solid #ccc;
}

#bodyNav #socialDiv .socialBubble:hover> div i {
    font-size: 20px;
}

#bodyNav #socialDiv .socialBubble i {
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle;
    font-size: 24px;
}

#bodyMain {
    position: relative;
    left: 400px;
    width: calc(100% - 400px);
    height: 100%;
    overflow-y: auto;
}

#bodyMain section {
    position: relative;
    min-height: calc(100% - 48px);
    /*width: 100%;*/
    background: #fff;
    padding: 24px 36px;
    /*background: #607d8b;*/
    /*background: #009688;*/
    /*border-bottom: 1px solid #ccc;*/
}

#bodyMain section:nth-of-type(1) {
    text-align: center;
}

#bodyMain section .sectionBody {
    padding: 6px 12px;
    min-height: 40px;
}

#bodyMain section .sectionHeader {
    padding: 6px 12px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

#bodyMain section .sectionHeader p {}

#bodyMain section p.headerLabel,
#bodyMain section p.subLabel {
    color: #FFF;
    color: #040404;
    font-size: 36px;
    padding: 24px;
    margin: 0 auto;
}

#bodyMain section p.headerLabel {
    display: inline-block;
    font-weight: 900;
}

#bodyMain section p.subLabel {
    display: block;
    font-size: 16px;
    padding-top: 0;
    margin: 0 auto;
    position: relative;
}

#bodyMain section .tiltLabel {}

#bodyMain section .tiltLabel.tilt {
    animation: pour 1s ease;
}

#bodyMain section .slideLabel {
    left: -1000px;
    -webkit-transition: left 1s ease 0s;
    -moz-transition: left 1s ease 0s;
    transition: left 1s ease 0s;
}

#bodyMain section .slideLabel.slide-in {
    left: 0;
}

#bodyMain section .fadeLabel {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s ease, opacity 1s ease 0.6s;
    -moz-transition: visibility 0s ease, opacity 1s ease 0.6s;
    transition: visibility 0s ease, opacity 1s ease 0.6s;
}

#bodyMain section .fadeLabel.fade-in {
    visibility: visible;
    opacity: 1;
}

#bodyMain section p.header {
    padding: 64px 20% 64px 20%;
}

#bodyMain .more {
    height: 100%;
}

.flexBox {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    width: 100%;
}

.flexItem {
    /*flex: 1;*/
    flex-basis: 30%;
    /*min-height: 124px;*/
    min-width: 124px;
    background-color: #EFEFEF;
    margin: 10px;
    padding: 6px;
    border-radius: 2px;
    text-align: center;
}

.flexItem h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.flexItem i {
    text-align: center;
    font-size: 72px;
}

#bodyMain section a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: transparent;
    /*border: 1px solid #EFEFEF;*/
    color: #040404;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 16px;
    margin: auto;
    cursor: pointer;
    -webkit-transition: background 0.4s ease 0s;
    -moz-transition: background 0.4s ease 0s;
    transition: background 0.4s ease 0s;
}

#bodyMain section a:hover {
    background: #040404;
    color: #FFF;
}

#bodyMain section[data-name=hello] a {
    bottom: auto;
    left: 0;
    right: 0;
    width: 64px;
    color: #FFF;
    background: #040404;
}

#bodyMain section[data-name=hello] a:hover {
    color: #040404;
    background: #FFF;
}

#bodyMain section a i {
    font-size: 36px;
}

.hidden {
    display: none;
}

#bodyMain section.active {
    display: block;
}

#bodyNav.open {
    height: 100vh;
    /*background: #EFEFEF;
    background: #F44336;*/
}

#bodyMain[data-hijacked=true] {
    overflow-y: hidden;
}

#hijackToggle label {
    display: none;
    position: relative;
    width: 100px;
    left: 36px;
    color: #040404;
}

#hijackToggle {
    position: fixed;
    cursor: pointer;
    bottom: 18px;
    left: 424px;
    width: 24px;
    height: 24px;
    border: 1px solid #040404;
    border-radius: 4px;
}

#hijackToggle:hover label:nth-of-type(1) {
    display: block;
}

#hijackToggle.hijacked {
    background: #040404;
}

#hijackToggle.hijacked:hover label:nth-of-type(1) {
    display: none;
}

#hijackToggle.hijacked label:nth-of-type(2) {
    display: block;
}

@media screen and (max-width: 64em) {
    li.active .hoverLink::after {
        display: inline-block;
    }
    #bodyNav {
        top: 0;
        bottom: auto;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        height: 108px;
    }
    #bodyNav #navContainer {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #bodyNav #logoDiv {
        position: relative;
        text-align: left;
    }
    #bodyNav #logoDiv i {
        vertical-align: middle;
        margin-top: 0px;
        font-size: 108px;
    }
    #bodyNav #logoDiv h1 {
        display: inline-block;
    }
    #bodyNav #logoDiv #headerContainer {
        display: inline-block;
    }
    #bodyNav #navDiv {
        left: auto;
        top: auto;
        bottom: 0;
        right: 10px;
    }
    #bodyNav #navDiv ul li {
        text-align: center;
        min-width: 60px;
        display: inline-block;
        height: 56px;
        line-height: 56px;
        /*height: 100px;*/
        /*line-height: 130px;*/
    }
    #bodyNav #navDiv ul li div {
        padding-left: 0;
        padding-right: 4px;
        display: inline-block;
    }
    #bodyNav #socialDiv {
        right: 0;
        padding-right: 2%;
        text-align: right;
        top: 12px;
        bottom: auto;
    }
    #bodyNav #socialDiv .socialBubble {
        height: 24px;
        width: 24px;
        line-height: 20px;
    }
    #bodyNav #socialDiv .socialBubble:hover> div {
        line-height: 16px;
        top: 0px;
        height: 20px;
        width: 20px;
        border: none;
        font-size: 24px;
    }
    #bodyNav #socialDiv .socialBubble i {
        font-size: 18px;
    }
    #bodyMain {
        top: 108px;
        left: 0;
        width: 100%;
        height: calc(100% - 108px);
    }
    #hijackToggle {
        left: 16px;
    }
    #hijackToggle label {
        /*left: -100px;*/
    }
}

@media screen and (max-width: 42em) {
    #bodyNav {
        height: 100px;
    }
    #bodyNav #logoDiv i {
        font-size: 96px;
    }
    #bodyNav #logoDiv h1 {
        font-size: 22px;
    }
    #bodyNav #logoDiv h4 {
        font-size: 14px;
    }
    #bodyNav #logoDiv #headerContainer {
        display: inline-block;
    }
    #bodyNav #navDiv {
        right: 10px;
    }
    #bodyNav #navDiv ul li {
        font-size: 16px;
        height: 48px;
        line-height: 48px;
        /*height: 70px;*/
        /*line-height: 130px;*/
    }
    #bodyNav #navDiv ul li div {
        padding-left: 0;
        display: inline-block;
    }
    #bodyNav #navDiv ul li i {
        font-size: 28px;
        vertical-align: middle;
    }
    #bodyNav #socialDiv .socialBubble:hover> div {
        line-height: 16px;
        top: 0px;
        height: 20px;
        width: 20px;
        border: none;
        font-size: 24px;
    }
    #bodyMain {
        top: 100px;
        height: calc(100% - 100px);
    }
}

@media screen and (max-width: 34.5em) {
    li.active .hoverLink::after {
        display: none;
    }
    #bodyNav {
        height: 90px;
        /*-webkit-transition: height 0.4s ease 0s;
        -moz-transition: height 0.4s ease 0s;
        transition: height 0.4s ease 0s;*/
    }
    #bodyNav #navContainer {
        display: block;
    }
    #bodyNav #logoDiv {
        display: block;
        width: 100%;
    }
    #bodyNav #logoDiv i {
        font-size: 84px;
    }
    #bodyNav #logoDiv h1 {
        font-size: 20px;
    }
    #bodyNav #logoDiv h4 {
        font-size: 12px;
    }
    #bodyNav #navDiv {
        visibility: hidden;
        opacity: 0;
        width: 100%;
        text-align: center;
        right: 0;
        padding-top: 8px;
        position: relative;
        -webkit-transition: visibility 0.4s ease 0s, opacity 0.4s ease 0s;
        -moz-transition: visibility 0.4s ease 0s, opacity 0.4s ease 0s;
        transition: visibility 0.4s ease 0s, opacity 0.4s ease 0s;
    }
    #bodyNav.open #navDiv {
        opacity: 1;
        visibility: visible;
    }
    #bodyNav #navDiv ul li {
        max-width: 100%;
        display: block;
        font-size: 18px;
        height: 48px;
        line-height: 48px;
    }
    #bodyNav #navDiv ul li i {
        font-size: 44px;
    }
    #bodyNav #navDiv ul li div {
        padding-left: 24px;
        display: flex;
    }
    #bodyNav #socialDiv {
        top: 54px;
        bottom: auto;
        padding-bottom: 0;
    }
    #bodyNav #menuToggle {
        z-index: 10;
        display: block;
    }
    #bodyMain {
        top: 90px;
        left: 0;
        width: 100%;
        height: calc(100% - 90px);
        -webkit-transition: top 0.4s ease, height 0.4s ease;
        -moz-transition: top 0.4s ease, height 0.4s ease;
        transition: top 0.4s ease, height 0.4s ease;
    }
}

.floatUp {
    animation: floatUp 1s ease;
}

.takeOff {
    animation: takeOff 1s ease;
}

.spin {
    animation: spin 1s ease;
}

.pour {
    animation: pour 1s ease;
}

.fadeIn-slow {
    animation: fadeIn 1.6s forwards;
}

.fadeIn {
    animation: fadeIn 0.6s forwards;
}

.fadeOut {
    animation: fadeOut 0.6s forwards;
}

@keyframes fadeOut {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes takeOff {
    from {
        transform: rotate(0) translateX(0px) translateY(0px);
        transform-origin: 0 15%;
    }
    to {
        transform: rotate(-360deg) translateX(0) translateY(0);
    }
}

@keyframes floatUp {
    0% {
        transform: rotateY(0deg);
        top: 0;
        transition-timing-function: ease-in;
    }
    40% {
        transition-timing-function: ease-in;
    }
    60% {
        transition-timing-function: ease-in;
        top: -16px;
    }
    80% {
        transform: rotateY(270deg);
        transition-timing-function: ease-in;
        top: -8px;
    }
    100% {
        transform: rotateY(180deg);
        transition-timing-function: ease-in;
        top: 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pour {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(60deg);
    }
    100% {
        transform: rotate(0deg);
    }
}